version: '3.8'

services:
  # O Banco de Dados
  db:
    image: postgres:15
    container_name: db_escola
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: escola_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Ferramenta visual para ver o banco (tipo um PHPMyAdmin)
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  pgdata:
