/* src/pages/Usuarios/styles.css */

/* Reutilizando os padrões de status para os níveis de acesso */
.status-ativo {
  background: #e7f5ff;
  color: #1c7ed6;
} /* Para User */
.status-inativo {
  background: #fff5f5;
  color: #fa5252;
} /* Para Admin */

.btn-key {
  background-color: var(--warning) !important;
  color: #212529 !important;
}

.btn-key:hover {
  filter: brightness(0.85);
  transform: translateY(-1px);
}

/* Ajuste para o formulário de usuários não ficar muito "alto" */
.form-grid {
  align-items: flex-end;
}

@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}


/*Utilizado para Reset-Password  */
.container-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-gradient);
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-reset {
  background: var(--white);
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 450px;
  text-align: center;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}




.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--text-main);
  font-size: 0.9rem;
}

.input-field {
  width: 100%;
  padding: 12px 15px ;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  box-sizing: border-box; /* Garante que o padding não quebre a largura */
  margin-bottom: 15px;
}

/* Responsividade para celulares pequenos */
@media (max-width: 480px) {
  .card-reset {
    padding: 30px 20px;
  }
}