/* src/pages/Matriculas/styles.css */

.input-pequeno {
  width: 80px;
}

.filtro-container-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
  background: #f8f9fa;
  padding: 8px;
  border-radius: 8px;
}


.status-emandamento {
  background: #e7f5ff;
  color: #1c7ed6;
}
.status-trancado {
  background: #fff9db;
  color: #f08c00;
}
.status-finalizado {
  background: #ebfbee;
  color: #2f9e44;
}

.status-pago {
  background: #d3f9d8;
  color: #2b8a3e;
}
.status-aberto {
  background: #fff3bf;
  color: #e67700;
}




.txt-detalhe-vermelho {
  color: #c41010;
  font-size: 12px;
}
.txt-detalhe-azul {
  color: var(--primary);
  font-size: 12px;
}

.texto-centralizado {
  text-align: center;
  padding: 30px;
  color: #aaa;
}

.busca-container {
  flex: 1; /* Faz o campo ocupar o espaço disponível no centro */
  max-width: 300px;
}

.input-busca {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.input-busca:focus {
  border-color: var(--primary);
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
}

/* Ajuste no flex do container para não espremer tudo */
.filtro-container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Permite quebrar linha em telas menores */
}
